*,
::before,
::after {
    box-sizing: border-box;

}

body {
    margin: 0;
    padding: 0;
    background: #17323F;
    font-family: 'Roboto';
}

h1 {
    color: #FFFFFF;
}

.container {
    height: auto;
    width: 850px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 880px) {
    .container {
        width: 100%;
        justify-content: center;

    }


}

.box {
    height: 200px;
    width: 200px;
    background: #60C6F2;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.contLigne {
    width: 60px;
    height: 42px;
    cursor: pointer;
    position: relative;
}

.lignes {
    width: 100%;
    height: 6px;
    border-radius: 5px;
    background: #17323F;
    position: absolute;
    transition: all .5s ease-in-out;

}

.lignes:nth-child(1) {
    top: 0px;
}

.lignes:nth-child(2) {
    top: 18px;
}

.lignes:nth-child(3) {
    top: 36px;
}

/*Animation bouton 1*/

.btn1.active .lignes:nth-child(1) {
    top: 18px;
    transform: rotate(135deg);
}

.btn1.active .lignes:nth-child(2) {
    transform: translate(-20px);
    opacity: 0;
}

.btn1.active .lignes:nth-child(3) {
    top: 18px;
    transform: rotate(-135deg);
}

/*Animation bouton 2*/


.btn2.active .lignes:nth-child(1) {
    top: 18px;
}

.btn2.active .lignes:nth-child(2) {
    opacity: 0;

}

.btn2.active .lignes:nth-child(3) {
    top: 18px;
    transform: rotate(90deg);
}

/*Animation bouton 3*/


.btn3.active .lignes:nth-child(1) {
    top: 18px;
}

.btn3.active .lignes:nth-child(2) {
    opacity: 0;

}

.btn3.active .lignes:nth-child(3) {
    top: 18px;

}

/*Animation bouton 4*/


.btn4 .lignes {
    transition: all 0.25 ease-out;
}

.btn4.active {
    transform: rotate(90deg);

}

.btn4.active .lignes:nth-child(2) {
    transition: none;
    opacity: 0;

}

.btn4.active .lignes:nth-child(1),
.btn4.active .lignes:nth-child(3) {
    width: 35px;
    transform-origin: right;
}

.btn4.active .lignes:nth-child(1) {
    transform: translateY(20px) rotate(45deg);
}

.btn4.active .lignes:nth-child(1) {
    transform: translateY(-20px) rotate(-45deg);
}


/*Animation bouton 5*/


.btn5 .lignes {
    transition: all 0.25 ease-out;
}

.btn5.active {
    transform: rotate(90deg);

}

.btn5.active .lignes:nth-child(2) {
    /* transition: none;*/
    transform: rotate(152deg);
    width: 59px;

}

.btn5.active .lignes:nth-child(3) {
    top: 36px;

}

/*Animation bouton 6*/

.btn6 {
    position: relative;
    transition: all 0.4s ease-in-out;

}

.btn6.active {
    transform: rotate(45deg);
}

.btn6::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

/*Animation bouton 7*/

.btn7 {
    position: relative;
    transition: all 0.4s ease-in-out;

}

.btn7.active {
    transform: rotate(45deg);
}

.btn5.active .lignes:nth-child(1) {
    opacity: 0;

}

.btn7::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    border: 5px solid transparent;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.btn7.active::before {
    transition-delay: 0.3s !important;
    border: 5px solid #17323F;
}

/*Animation bouton 8*/

.btn8 {
    position: relative;
    transition: all 0.4s ease-in-out;

}

.btn8.active {
    transform: rotate(45deg);
}

.btn8::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    border: 5px solid transparent;
    border-radius: 50%;
    transition: all 0.4s ease-in-out;
}

.btn8.active::before {

    transition-delay: 0.3s !important;
    border: 5px solid #17323F;
}

.btn8.active .lignes {
    width: 35px;
}

.btn8.active .lignes:nth-child(2) {
    transition: all 0.1s ease-in !important;
    opacity: 0;

}

.btn8.active .lignes:nth-child(1) {
    transform: translate(12.5px, 18px);
}

.btn8.active .lignes:nth-child(3) {
    transform: translate(12.5px, -18px) rotate(90deg);
}
